<li>
    <p>
      <% if(locals.user && locals.user.id == comment.user.id){%>

      <small>
        <a href="/comments/delete/<%=comment.id%>">Delete</a>
      </small>
      <%} %>
      <%= comment.content %>
      <br />
      <small> <%= comment.user.name %> </small>
    </p>
  </li>