<header>
    this is header
    <ul>
        <% if(locals.user){ %>
           <li><a href="/user/profile"><%= user.name %></a> </li>
           <li>
            <a href="/user/logout">Logout</a>
           </li>      
             
        <% }else{ %>
            <li><a href="/user/sign-in">sign in</a></li>
            <li><a href="/user/sign-up">Sign Up</a></li>

        <% } %>  
    </ul>
</header>