<h1><%=description%></h1>
<div id="feeds">
  <h3>POSTS</h3>
  <% if(locals.user) {%>
  <form action="/post/create" id="new-post" method="post">
    <textarea name="content" id="" cols="28" rows="5"></textarea>
    <input type="submit" value="Post" placeholder="type post..." />
  </form>
  <% } %>
  <div id="posts-list">
    <ul>
      <% for(post of post){ %>
      
        <%-include("_post");  %> 

      <% } %>
    </ul>
  </div>
</div>

<div id="user-friends">
  <h3>Freinds</h3>
  <% for(u of allUsers){%>
   <p>
    <a href="/user/profile/<%= u.id %>"><%= u.name %> </a>
   </p> 
  <%} %> 
</div>
